
<nav-component></nav-component>

<div class="container">
    <div>
        <h3>Últimos Lanzamientos</h3>

        <div class="card" style="width: 18rem;" *ngFor="let e of newReleaseList">

            <div *ngFor="let i of e.images">
                <img class="card-img-top"  
                     alt="Card image cap"
                     *ngIf="i.height == 300"
                     src="{{i.url}}">
            </div>
            

            <div class="card-body">
                <h2>{{e.name}}</h2>
                <h5 *ngFor="let a of e.artists">{{a.name}}</h5>
                <p class="card-text">{{e.type}}</p>
            </div>
        </div>
    </div>
</div>

