<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">InssideMusic</h4>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">
                        <i class="bi bi-house-door-fill"></i>Home 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/search']" routerLinkActive="router-link-active">
                        <i class="bi bi-search"></i>Buscar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/favorites']" routerLinkActive="router-link-active">
                        <i class="bi bi-star-fill"></i>Favoritos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logOut()">
                        <i class="bi bi-box-arrow-right"></i>Cerrar Sesion
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>