<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">

            <div class="header">
                <img src="../../../../assets/img/logo.png" alt="">
                <h4>INSSIDE<span>Music</span></h4>
            </div>

            <hr>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <i class="bi bi-house-door-fill"></i>
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
                </li>
                <li class="nav-item">
                    <i class="bi bi-search"></i>
                    <a class="nav-link" [routerLink]="['/search']" routerLinkActive="router-link-active">Buscar</a>
                </li>
                <li class="nav-item">
                    <i class="bi bi-star-fill"></i>
                    <a class="nav-link" [routerLink]="['/favorites']" routerLinkActive="router-link-active">Favoritos</a>
                </li>
                <li class="nav-item">
                    <i class="bi bi-box-arrow-right"></i>
                    <a class="nav-link" (click)="logOut()">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>