<nav-component></nav-component>

<div class="container">
    
    <div class="form-row">
        <div class="form-group col-sm-3 col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-search"></i>
                  </span>
                </div>
        
                <input type="text" class="form-control" 
                        placeholder="Buscar artistas, canciones, albums" 
                        [formControl]="searchForm"
                        autocomplete="off">
            </div>
        </div>
        <div class="form-group col-sm-3 col-md-4">
            <select id="inputState" class="form-control"  [formControl]="typeForm">
                <option *ngFor="let e of type;">{{e}}</option>
            </select>
        </div>
    </div>

    <div *ngIf="!itemsArtists.length && !itemsAlbum.length && !itemsTracks.length" class="noResults">
        <h5>No se encontraron resultados.. </h5>
        <i class="bi bi-emoji-frown"></i>
    </div>

    <!-- RESULTADOS DE ARTISTAS -->
    <div *ngIf="itemsArtists.length && !itemsAlbum.length && !itemsTracks.length" class="results">

        <h2>Encontramos estos Artistas para ti!</h2>

        <!-- SE MUESTRA ARTISTA PRINCIPAL -->
        <div *ngFor="let artista of itemsArtists; let index = index" class="cuadro-principal"> 
            <div class="result-principal" *ngIf="index == 0">
                <h3>Resultado Principal</h3>
                <div class="item-principal">

                    <div class="img-principal">
                        <span *ngIf="!artista.images?.length" class="img-container">
                            <img src="../../../../assets/img/sinPortada640.png">
                        </span>

                        <div *ngIf="artista.images?.length">
                            <div *ngFor="let img of artista.images" class="img-container">
                                <img *ngIf="img.height == 640" src="{{img.url}}">
                            </div>
                        </div>
                    </div>

                    <div class="header-principal">
                        <div class="info-principal">
                            <h5>{{ artista.name }}</h5>
                            <p>{{ artista.type }}</p>

                            <span><i class="bi bi-info-circle text-info" (click)="viewInfo(artista)"></i></span>
                        
                            <a href="{{ artista.external_urls?.spotify }}" target="_blank"><i class="bi bi-play-circle-fill text-success"></i></a>
                        
                            <span *ngIf="artista.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(artista)"></i></span>
                            <span *ngIf="!artista.favorito"><i class="bi bi-star" (click)="favorito(artista)"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- SE MEUSTRA OTROS RESULTADOS -->
        <div class="list-container">
            <div class="item-container" [ngClass]="{'display-none':index == 0}" *ngFor="let artista of itemsArtists; let index = index">
                <div class="img-container" >
                    <span *ngIf="!artista.images?.length">
                        <img class="item-logo" src="../../../../assets/img/sinPortada320.png">
                    </span>

                    <div *ngIf="artista.images?.length">
                        <div *ngFor="let img of artista.images">
                            <img class="item-logo" *ngIf="img.height == 320 || img.height == 300" src="{{ img.url }}">
                        </div>
                    </div>
                </div>

                <div class="info-container">
                    <div class="title-container">
                        <h4>{{ artista.name }}</h4>
                    </div>

                    <div class="more-info-container">
                        <p>{{ artista.type }}</p>
                    </div>
                
                    <div class="view-info-icon">
                        <span>
                            <i class="bi bi-info-circle text-info" (click)="viewInfo(artista)"></i>
                        </span>

                        <a href="{{artista.external_urls?.spotify}}" target="_blank">
                            <i class="bi bi-play-circle-fill text-success"></i>
                        </a>

                        <span *ngIf="artista.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(artista)"></i></span>
                        <span *ngIf="!artista.favorito"><i class="bi bi-star" (click)="favorito(artista)"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- RESULTADOS DE ALBUMS -->
    <div *ngIf="!itemsArtists.length && itemsAlbum.length && !itemsTracks.length" class="results">

        <h2>Encontramos estos Albums para ti!</h2>

        <!-- SE MUESTRA ALBUM PRINCIPAL -->
        <div *ngFor="let album of itemsAlbum; let index = index" class="cuadro-principal"> 

            <div class="result-principal" *ngIf="index == 0">
                <h3>Resultado Principal</h3>

                <div class="item-principal">

                    <div class="img-principal">
                        <span *ngIf="!album.images?.length" class="img-container">
                            <img src="../../../../assets/img/sinPortada640.png">
                        </span>

                        <div *ngIf="album.images?.length">
                            <div *ngFor="let img of album.images" class="img-container">
                                <img *ngIf="img.height == 640" src="{{img.url}}">
                            </div>
                        </div>
                    </div>

                    <div class="header-principal">
                        <div class="info-principal">
                            <h5>{{ album.name }}</h5>
                            <p>Fecha de Lanzamiento: {{ album.release_date}} - Tracks: {{ album.total_tracks }}</p>

                            <p>Artistas:</p>
                            <p *ngFor="let artis of album.artists">• {{ artis.name }}</p>

                            <span><i class="bi bi-info-circle text-info" (click)="viewInfo(album)"></i></span>
                        
                            <a href="{{ album.external_urls?.spotify }}" target="_blank"><i class="bi bi-play-circle-fill text-success"></i></a>
                        
                            <span *ngIf="album.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(album)"></i></span>
                            <span *ngIf="!album.favorito"><i class="bi bi-star" (click)="favorito(album)"></i></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr>

        <div class="list-container">
            <div class="item-container" [ngClass]="{'display-none':index == 0}" *ngFor="let album of itemsAlbum; let index = index">
                <div class="img-container" >
                    <span *ngIf="!album.images?.length">
                        <img class="item-logo" src="../../../../assets/img/sinPortada320.png">
                    </span>

                    <div *ngIf="album.images?.length">
                        <div *ngFor="let img of album.images">
                            <img class="item-logo" *ngIf="img.height == 320 || img.height == 300" src="{{ img.url }}">
                        </div>
                    </div>
                </div>

                <div class="info-container">
                    <div class="title-container">
                        <h4>{{ album.name }}</h4>
                    </div>

                    <div class="more-info-container">
                        <p>Fecha de Lanzamiento: {{ album.release_date}} - Tracks: {{ album.total_tracks }}</p>
                        <p>Artistas:</p>
                        <p *ngFor="let artis of album.artists">• {{ artis.name }}</p>
                    </div>
                
                    <div class="view-info-icon">
                        <span>
                            <i class="bi bi-info-circle text-info" (click)="viewInfo(album)"></i>
                        </span>

                        <a href="{{album.external_urls?.spotify}}" target="_blank">
                            <i class="bi bi-play-circle-fill text-success"></i>
                        </a>

                        <span *ngIf="album.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(album)"></i></span>
                        <span *ngIf="!album.favorito"><i class="bi bi-star" (click)="favorito(album)"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- RESULTADOS DE TRACKS -->
    <div *ngIf="!itemsArtists.length && !itemsAlbum.length && itemsTracks.length" class="results">

        <h2>Encontramos estas Canciones para ti!</h2>

        <!-- SE MUESTRA TRACK PRINCIPAL -->
        <div *ngFor="let track of itemsTracks; let index = index" class="cuadro-principal">
            <div class="result-principal" *ngIf="index == 0">
                <h3>Resultado Principal</h3>
                <div class="item-principal">
                    <div class="img-principal">
                        <span *ngIf="!track.album?.images?.length" class="img-container">
                            <img src="../../../../assets/img/sinPortada640.png">
                        </span>

                        <div *ngIf="track.album?.images?.length">
                            <div *ngFor="let img of track.album?.images" class="img-container">
                                <img *ngIf="img.height == 640" src="{{img.url}}">
                            </div>
                        </div>
                    </div>

                    <div class="header-principal">
                        <div class="info-principal">
                            <h5>{{ track.name }}</h5>
                            <p class="card-title">Album {{ track.album?.name }} - Lanzamiento {{ track.album?.release_date }}</p>
                            <p>Artistas:</p>
                            <p *ngFor="let artis of track.artists">• {{ artis.name }}</p>

                            <span><i class="bi bi-info-circle text-info" (click)="viewInfo(track)"></i></span>
                        
                            <a href="{{ track.external_urls?.spotify }}" target="_blank"><i class="bi bi-play-circle-fill text-success"></i></a>
                        
                            <span *ngIf="track.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(track)"></i></span>
                            <span *ngIf="!track.favorito"><i class="bi bi-star" (click)="favorito(track)"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="list-container">
            <div class="item-container" [ngClass]="{'display-none':index == 0}" *ngFor="let track of itemsTracks; let index = index">
                <div class="img-container" >
                    <span *ngIf="!track.album?.images?.length">
                        <img class="item-logo" src="../../../../assets/img/sinPortada320.png">
                    </span>

                    <div *ngIf="track.album?.images?.length">
                        <div *ngFor="let img of track.album?.images">
                            <img class="item-logo" *ngIf="img.height == 320 || img.height == 300" src="{{ img.url }}">
                        </div>
                    </div>
                </div>

                <div class="info-container">
                    <div class="title-container">
                        <h4>{{ track.name }}</h4>
                    </div>

                    <div class="more-info-container">
                        <p class="card-title">Album {{ track.album?.name }} - Lanzamiento {{ track.album?.release_date }}</p>
                        <p>Artistas:</p>
                        <p *ngFor="let artis of track.artists">• {{ artis.name }}</p>
                    </div>
                
                    <div class="view-info-icon">
                        <span>
                            <i class="bi bi-info-circle text-info" (click)="viewInfo(track)"></i>
                        </span>

                        <a href="{{track.external_urls?.spotify}}" target="_blank">
                            <i class="bi bi-play-circle-fill text-success"></i>
                        </a>

                        <span *ngIf="track.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(track)"></i></span>
                        <span *ngIf="!track.favorito"><i class="bi bi-star" (click)="favorito(track)"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer-component></footer-component>
