footer p {
  font-size: 0.8rem;
  text-align: center;
  margin: 20px 0px;
}

footer p a {
  text-decoration: none;
  color: #28a745;
}

@media only screen and (max-width: 768px) {
  footer p {
    font-size: 0.6rem;
  }
}
