<nav-component></nav-component>

<div class="container">
    <div>
        <h2>Favoritos</h2>

        <p>¡Tus canciones, albums, y artistas que más te gustan estan aquí!</p>
    </div>

    
    <section id="fav" class="fav">
        <div class="container">

            <div class="row fav-container">

                <!-- TRACK CONTAINER -->
                <!-- <div *ngIf="tracksItems.length"> -->
                    <div class="col-lg-4 col-md-6 fav-item filter-app" *ngFor="let track of tracksItems">
                        <div class="fav-wrap">

                            <span *ngIf="!track.album?.images?.length">
                                <img class="img-fluid" src="../../../../assets/img/sinPortada320.png">
                            </span>
                        
                            <div *ngIf="track.album?.images?.length">
                                <div *ngFor="let img of track.album?.images" >
                                    <img class="img-fluid" *ngIf="img.height == 320 || img.height == 300" src="{{ img.url }}">
                                </div>
                            </div>

                            <div class="fav-info">
                                <h4>{{ track.name }}</h4>

                                <p *ngFor="let artis of track.artists">
                                    <span>{{ artis.name }}</span> 
                                </p>

                                <p class="description">
                                    Album {{ track.album?.name }} - Lanzamiento {{ track.album?.release_date }}
                                </p>

                                <div class="fav-links">
                                    <a href="{{track.external_urls?.spotify}}" target="_blank"><i class="bi bi-play-circle-fill"></i></a>

                                    <a>
                                        <span *ngIf="track.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(track)"></i></span>
                                    </a>

                                    <a>
                                        <i class="bi bi-info-circle" (click)="viewInfo(track)"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->

                <!-- ALBUMS -->
                <!-- <div *ngIf="albumsItems.length"> -->
                    <div class="col-lg-4 col-md-6 fav-item filter-app" *ngFor="let album of albumsItems">
                        <div class="fav-wrap" >

                            <span *ngIf="!album?.images?.length">
                                <img class="img-fluid" src="../../../../assets/img/sinPortada320.png">
                            </span>
                        
                            <div *ngIf="album?.images?.length">
                                <div *ngFor="let img of album?.images" >
                                    <img class="img-fluid" *ngIf="img.height == 320 || img.height == 300" src="{{ img.url }}">
                                </div>
                            </div>

                            <div class="fav-info">
                                <h4>{{ album.name }}</h4>

                                <p *ngFor="let artis of album.artists">
                                    <span>{{ artis.name }}</span> 
                                </p>

                                <p class="description">
                                    Lanzamiento {{ album?.release_date }} - Canciones: {{ album.total_tracks }}
                                </p>

                                <div class="fav-links">
                                    <a href="{{album.external_urls?.spotify}}" target="_blank"><i class="bi bi-play-circle-fill"></i></a>

                                    <a>
                                        <span *ngIf="album.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(album)"></i></span>
                                    </a>

                                    <a>
                                        <i class="bi bi-info-circle" (click)="viewInfo(album)"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->

                <!-- ARTISTA -->
                <!-- <div *ngIf="artistItems.length"> -->
                    <div class="col-lg-4 col-md-6 fav-item filter-app" *ngFor="let artist of artistItems">
                        <div class="fav-wrap" >
                        
                            <span *ngIf="!artist?.images?.length">
                                <img class="img-fluid" src="../../../../assets/img/sinPortada320.png">
                            </span>
                        
                            <div *ngIf="artist?.images?.length">
                                <div *ngFor="let img of artist?.images" >
                                    <img class="img-fluid" *ngIf="img.height == 320 || img.height == 300" src="{{ img.url }}">
                                </div>
                            </div>
                        
                            <div class="fav-info">
                                <h4>{{ artist.name }}</h4>
                            
                                <div class="fav-links">
                                    <a href="{{artist.external_urls?.spotify}}" target="_blank"><i class="bi bi-play-circle-fill"></i></a>
                                
                                    <a>
                                        <span *ngIf="artist.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(artist)"></i></span>
                                    </a>

                                    <a>
                                        <i class="bi bi-info-circle" (click)="viewInfo(artist)"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>

        </div>
    </section>
</div>