/* You can add global styles to this file, and also import other style files */
@import "./assets/Fonts/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(68, 68, 68);
  background: radial-gradient(
    circle,
    rgba(68, 68, 68, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5 {
  font-family: BebasNeueRegular;
  color: #fff;
}

p {
  font-family: QuestrialRegular;
  color: #fff;
}

hr {
  background-color: #fff;
}
