<nav-component></nav-component>

<div class="container" *ngIf="type == 'artist'">

    <h3>Informacion del Artista:</h3>
    
    <div class="resultado-info-principal">
        <div class="item-principal">
            <div class="img-principal">
                <span *ngIf="!informationArtists.images?.length" class="img-container">
                    <img src="../../../../assets/img/sinPortada640.png">
                </span>

                <div *ngIf="informationArtists.images?.length">
                    <div *ngFor="let img of informationArtists.images" class="img-container">
                        <img *ngIf="img.height == 640" src="{{img.url}}">
                    </div>
                </div>
            </div>

            <div class="header-principal">
                <div class="info-principal">
                    <h5>{{ informationArtists.name }}</h5>
                    <p>{{ informationArtists.type }}</p>

                    <p>Generos:</p>
                    <p *ngFor="let genero of informationArtists.genres">• {{ genero }}</p>

                    <p>Seguidores en InssideMusic: {{ informationArtists.followers?.total }} </p>

                    <a href="{{ informationArtists.external_urls?.spotify }}" target="_blank"><i class="bi bi-play-circle-fill text-success"></i></a>
                
                    <span *ngIf="informationArtists.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(informationArtists)"></i></span>
                    <span *ngIf="!informationArtists.favorito"><i class="bi bi-star" (click)="favorito(informationArtists)"></i></span>

                    <p *ngIf="informationArtists.favorito" class="isFav">
                        ¡¡{{ informationArtists.name }} se encuentra dentro de tus artistas favoritos!!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="type == 'album'">
    <h3>Informacion del Album:</h3>
    
    <div class="resultado-info-principal">
        <div class="item-principal">
            <div class="img-principal">
                <span *ngIf="!informationAlbum.images?.length" class="img-container">
                    <img src="../../../../assets/img/sinPortada640.png">
                </span>

                <div *ngIf="informationAlbum.images?.length">
                    <div *ngFor="let img of informationAlbum.images" class="img-container">
                        <img *ngIf="img.height == 640" src="{{img.url}}">
                    </div>
                </div>
            </div>

            <div class="header-principal">
                <div class="info-principal">
                    <h5>{{ informationAlbum.name }}</h5>
                    <p>{{ informationAlbum.type }}</p>

                    <p>Artistas:</p>
                    <p *ngFor="let artist of informationAlbum.artists">• {{ artist.name }}</p>
                    <p>Fecha de lanzamiento: {{ informationAlbum.release_date }} - {{ informationAlbum.total_tracks }} Tracks </p>
                    <p>Sello {{ informationAlbum.label }}</p>

                    <a href="{{ informationAlbum.external_urls?.spotify }}" target="_blank"><i class="bi bi-play-circle-fill text-success"></i></a>
                
                    <span *ngIf="informationAlbum.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(informationAlbum)"></i></span>
                    <span *ngIf="!informationAlbum.favorito"><i class="bi bi-star" (click)="favorito(informationAlbum)"></i></span>

                    <p *ngIf="informationAlbum.favorito" class="isFav">
                        ¡¡{{ informationAlbum.name }} se encuentra dentro de tus álbumes favoritos!!
                    </p>
                </div>
            </div>
        </div>

        <div class="table-responsive-sm">
            <h3>Escucha sus temas:</h3>

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Play</th>
                        <th scope="col">Favorito</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let track of informationAlbum.tracks?.items">
                        <th scope="row">{{ track.track_number }}</th>
                        <td>{{ track.name }}</td>
                        <td>
                            <i class="bi bi-x-circle-fill text-danger" *ngIf="!track.preview_url"></i>
                            <a href="{{track.preview_url}}" target="_blank" *ngIf="track.preview_url">
                                <i class="bi bi-play-circle-fill" [ngClass]="{'text-success':track.preview_url, 'text-secondary': !track.preview_url}"></i>
                            </a>
                        </td>

                        <td>
                            <span *ngIf="track.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(track)"></i></span>
                            <span *ngIf="!track.favorito"><i class="bi bi-star" (click)="favorito(track)"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container" *ngIf="type == 'track'">

    <h3>Informacion del Track:</h3>
    
    <div class="resultado-info-principal">
        <div class="item-principal">
            <div class="img-principal">
                <span *ngIf="!informationTracks.album?.images?.length" class="img-container">
                    <img src="../../../../assets/img/sinPortada640.png">
                </span>

                <div *ngIf="informationTracks.album?.images?.length">
                    <div *ngFor="let img of informationTracks.album?.images" class="img-container">
                        <img *ngIf="img.height == 640" src="{{img.url}}">
                    </div>
                </div>
            </div>

            <div class="header-principal">
                <div class="info-principal">
                    <h5>{{ informationTracks.name }}</h5>
                    <p>{{ informationTracks.type }}</p>

                    <p>Artistas:</p>
                    <p *ngFor="let artist of informationTracks.artists">• {{ artist.name }}</p>
                    <p>Album: {{ informationTracks.album?.name }} - Fecha de lanzamiento: {{ informationTracks.album?.release_date }}</p>

                    <a href="{{ informationTracks.external_urls?.spotify }}" target="_blank"><i class="bi bi-play-circle-fill text-success"></i></a>
                
                    <span *ngIf="informationTracks.favorito"><i class="bi bi-star-fill text-warning" (click)="favorito(informationTracks)"></i></span>
                    <span *ngIf="!informationTracks.favorito"><i class="bi bi-star" (click)="favorito(informationTracks)"></i></span>

                    <p *ngIf="informationTracks.favorito" class="isFav">
                        ¡¡{{ informationTracks.name }} se encuentra dentro de tus temas favoritos!!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
